<!-- navmenu -->
<ul>
  {% for l1_item in site.navmenu %}
    {% comment %}{% next if l1_item.skip %}{% endcomment %}
  <li>
    <a href="{{ l1_item.url }}"{% if l1_item.id == data.id %} class="selected"{% endif %}>{{ l1_item.title }}</a>
    {% if l1_item.menu %}
    <ul>
      {% for l2_item in l1_item.menu %}
      <li><a href="{{ l2_item.url }}"{% if l1_item.id == data.id %} class="selected"{% endif %}>{{ l2_item.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
